.home {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main-header {
    height: 10vh;
    margin-bottom: 50px;
    padding-top: 50px;
    display: flex;
    gap: 40px;
    padding-left: 50px;
    
    .header-title {
        margin: 0;
    }
}
.main-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 70vw;
    align-self: center;
}
.search {
    display: flex;
    width: 82vw;
    height: 100px;
    margin-left: -5px;
    justify-content: flex-end;
    align-items: baseline;
    gap: 15px;
}
.podcastListLength {
    background-color: cadetblue;
    width: 30px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.search-input {
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    width: 250px;
    height: 350px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 3px 3px 3px 0px rgb(164 164 164 /80%), -3px 3px 3px 0px rgb(164 164 164 /80%), 0px 1px 10px 0px rgb(164 164 164 /80%);
}
.img {
    border-radius: 50%;
    width: 150px;
    height: 150x;
    transform:translateY(-80px);
}
